.header-container {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid var(--gray-4);

  .header-content {
    display: grid;
    grid-template-columns: 23rem 1fr auto;
    column-gap: 3.2rem;
    align-items: center;
    width: 111.24rem;

    .company-logo {
      max-height: 8rem;
      object-fit: contain;
    }

    .search-input {
      width: 36rem;
    }

    .buttons-container {
      display: flex;

      .button {
        width: 9rem;
      }

      .register-button {
      }

      .login-button {
      }
    }
  }
}
