.sidebar-container {
  width: 6.4rem;
  padding-top: 2.4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-right: 0.1rem solid var(--gray-8);

  &-open {
    width: 20rem;
    padding: 2.4rem 2.4rem 0;
  }

  .sidebar-item {
    margin-bottom: 2.4rem;
  }
}
