.cart-icon-button-container {
  height: 4rem;
  width: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover {
    filter: brightness(0.8);
  }

  .button {
    height: 4rem;
    width: 4rem;
  }

  .cart-icon {
    fill: var(--gray-40);
    height: 2.4rem;
    width: 2.4rem;
  }

  .cart-quantity {
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 0.2rem 0.4rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
